<div class="container">
  <h1><%= @brand.name %></h1>

  <% if @stores.any?() %>

  <h3>Select all stores this brand carries:</h3>
    <h3>Brands:</h3>
    <form action="/brand/<%= @brand.id %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <% @stores.each() do |store| %>
        <div class="checkbox">
          <input type="checkbox" name="store_ids[]" value="<%= store.id() %>"><%= store.name() %>
        </div>
      <% end %>
      <button type="submit" name="button">Submit</button>
    </form>

  <% end %>


  <% if @brand.stores().any?() %>
    <h3>Here are all the stores this brand carries:</h3>

    <ul>
      <% @brand.stores().each() do |store| %>
        <li><%= store.name() %></li>
      <% end %>
    </ul>
  <% else %>
    <p>This brand has no stores added yet.</p>
  <% end %>


  <a href="/">Return to Main Page</a>

</div>
