<h1><%= @store.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 panel">
      <% if @brands.any?() %>
      <h3>Select all brands this store carries:</h3>
        <h3>Brands:</h3>
        <form action="/store/<%= @store.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <% @brands.each() do |brand| %>
            <div class="checkbox">
              <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.name() %>
            </div>
          <% end %>
          <button type="submit" class="btn" name="button">Submit</button>
        </form>
      <% end %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 panel">
      <% if @store.brands().any?() %>
        <h3>Here are all the brands this store carries:</h3>
        <ul>
          <% @store.brands().each() do |brand| %>
            <li><%= brand.name() %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This store has no brands added yet.</p>
      <% end %>
      <a href="/"><button type="button" class="btn" name="button">Return to Main Page</button></a>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <a href="/store/<%= @store.id() %>/update"><button class="btn" type="button" name="button">Update Store</button></a>
    <form action="/store/<%= @store.id() %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button class="btn" type="submit">Delete Store</button>
    </form>
  </div>
</div>
